<h2>Editing product</h2>

<% if can? :destroy, @product %>
  <%= link_to 'Delete', @product , class: 'btn btn-sm btn-danger',
      method: :delete, data: { confirm:  'Are you sure?' } %>
<% end %>

<%= render 'form'  %>
