<h1>Listing products</h1>

<%= link_to 'New product', new_product_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @products.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
    </tr>
  <% end %>
</table>
