<div class="row">

<h4>
  <%= review.reviewer %>
  <% if can? :destroy, review %>
    <%= link_to 'Delete',
      [review.product, review],
        class: "btn btn-xs btn-danger",
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <% end %>
</h4>

<p>
  <%= review.text %>
</p>

<p>
  <ul class="nav nav-pills">
    <% review.tag_list.each do |t| %>
      <li> <%= t %> </li>
    <% end %>
  </ul>
</p>

</div>