<p>
  <strong>Reviewer:</strong>
  <%= review.reviewer %>
</p>

<p>
  <strong>Text:</strong>
  <%= review.text %>
</p>

<p>
  <strong>Emotions:</strong>
  <%= review.tag_list %>
</p>

<% if can? :destroy, review %>
<p>
  <%= link_to 'Destroy Review', [review.product, review],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
